{% extends 'base.html.twig' %}

{% block title %}Registrar Candidata{% endblock %}

{% block body %}
  <section id="registro" hidden>
    <div class="container col-sm-8" id="formRegistro">
      <div class="container justify-content-center align-items-center">
        <h1 class="text-uppercase masthead header text-center">
          <strong>Formulario Mujer</strong>
        </h1>
      </div>

      <form method="POST"  name="formuRegistro" id="formuRegistro">
        <div class="form-group">
          <label for="tipo_doc">Tipo de documento</label>
          <select class="form-control" name="tipo_doc" id="tioDoc" required>
            <option onclick="clearTipoDoc();">Cedula</option>
            <option onclick="clearTipoDoc();">Tarjeta de identidad</option>
            <option onclick="showTipoDoc();">Otro</option>
          </select>
        </div>

        <div class="form-group" id="divCualTipoDoc" hidden>
          <label for="cual_tipo_doc">¿Cual?</label>
          <input type="text" class="form-control" name="cual_tipo_doc" id="cualTipoDoc" placeholder="" >
        </div>


        <div class="form-group">
          <label for="numero_id">Numero de identificación</label>
          <input type="number" class="form-control" name="numero_id" id="numeroID" placeholder="" required>
          <div class="invalid-feedback">
            ¡Porfavor pon un numero de identificación valido
          </div>
        </div>
        <div class="form-group">
          <label for="nombres">Nombres</label>
          <input type="text" class="form-control" name="nombres" id="nombres" placeholder="" required>
          <div class="valid-feedback">
            ¡Perfecto!
          </div>
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="" required>
          <div class="valid-feedback">
            ¡Perfecto!
          </div>
        </div>
        <div class="form-group">
          <label for="fecha_nacimiento">Fecha de nacimiento</label>
          <input class="form-control" type="date" name="fecha_nacimiento" id="fechaNacimiento" required>
          <div class="invalid-feedback">
            ¡Porfavor ingresa una fecha valida!
          </div>
        </div>
        <div class="form-group">
          <label for="email">Correo electronico</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="nombre@ejemplo.com " required>
          <div class="valid-feedback">
            ¡Perfecto!
          </div>
          <div class="invalid-feedback">
            ¡Porfavor ingresa un correo valido!
          </div>
        </div>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input class="form-control" type="tel" name="telefono" id="telefono" required>
          <div class="valid-feedback">
            ¡Perfecto!
          </div>
          <div class="invalid-feedback">
            ¡Porfavor ingresa un telefono valido!
          </div>
        </div>
        <div class="form-group">
          <label for="direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="direccion" placeholder="" required>
          <div class="valid-feedback">
            ¡Perfecto!
          </div>
        </div>

        <div class="form-group">
          <label for="estado_civil">¿Actualmente su estado civil es?</label>
          <select class="form-control" name="estado_civil" id="estadoCivil" required>
            <option>Soltera</option>
            <option>Unión libre</option>
            <option>Casada</option>
            <option>Divorciada</option>
            <option>Viuda</option>
          </select>
        </div>

        <div class="form-group">
          <label for="hijos">¿Tiene usted hijos?</label>
          <select class="form-control" name="hijos" id="hijos" required>
            <option>Si</option>
            <option>No</option>
          </select>
        </div>

        <div class="form-group">
          <label for="nivel_estudios">¿Su nivel de estudios es?</label>
          <select class="form-control" name="nivel_estudios" id="nivelEstudios" required>
            <option onclick="showProfecional();">Profesional</option>
            <option onclick="showTecnica();">Tecnóloga</option>
            <option onclick="showTecnica();">Técnica</option>
            <option onclick="showBasica();">Secundaria</option>
            <option onclick="showBasica();">Primaria</option>
            <option onclick="showBasica();">No tiene</option>
          </select>
        </div>

        <div class="form-group" id="divTituloObtenido" hidden>
          <label for="ultimo_titulo">¿Último título obtenido?</label>
          <select class="form-control" name="ultimo_titulo" id="ultimoTitulo">
            <option>Pregrado</option>
            <option>Especialista</option>
            <option>Magister</option>
            <option>Doctorado</option>
          </select>
        </div>

        <div class="form-group" id="divNombreTitulo" hidden>
          <label for="nombre_titulo">¿Nombre del título obtenido?</label>
          <input type="text" class="form-control" name="nombre_titulo" id="nombreTitulo" placeholder="">
          <div class="valid-feedback">
            ¡Perfecto!
          </div>
        </div>

        <div class="form-group">
          <label for="actualmente_estudia">¿Actualmente estudia?</label>
          <select class="form-control" name="actualmente_estudia" id="actualmenteEstudia" required>
            <option onclick="showEstudia();">Si</option>
            <option onclick="clearEstudia();">No</option>
          </select>
        </div>

        <div class="form-group" id="divQueEstudia" hidden>
          <label for="que_estudia">¿Que está estudiando?</label>
          <select class="form-control" name="que_estudia" id="queEstudia">
            <option>Primaria</option>
            <option>Secundaria</option>
            <option>Técnica</option>
            <option>Tecnología</option>
            <option>Pregrado</option>
            <option>Postgrado</option>
          </select>
        </div>

        <div class="form-group" id="divNombreTituloObtener" hidden>
          <label for="nombre_titulo_obtener">¿Nombre del título obtenido a obtener?</label>
          <input type="text" class="form-control" name="nombre_titulo_obtener" id="nombreTituloObtener" placeholder="">
          <div class="valid-feedback">
            ¡Perfecto!
          </div>
        </div>

        <div class="form-group">
          <label for="actualmente_trabaja">¿Actualmente trabaja?</label>
          <select class="form-control" name="actualmente_trabaja" id="actualmenteTrabaja" required>
            <option onclick="showTrabaja();">Si</option>
            <option onclick="showNoTrabaja();">No</option>
          </select>
        </div>

        <div class="form-group" id="divSectorLaboral" hidden>
          <label for="sector_laboral">¿Cual es el sector en que labora?</label>
          <select class="form-control" name="sector_laboral" id="sectorLaboral">
            <option onclick="hideSector();">Actividades artísticas, de entretenimiento y recreación</option>
            <option onclick="hideSector();">Transporte y almacenamiento</option>
            <option onclick="hideSector();">Información y comunicación</option>
            <option onclick="hideSector();">Actividades de servicio administrativo y de apoyo</option>
            <option onclick="hideSector();">Otras actividades de servicios</option>
            <option onclick="hideSector();">Construcción</option>
            <option onclick="hideSector();">Actividades profesionales, cientificas y tecnicas</option>
            <option onclick="hideSector();">Alojamiento y servicios de comida</option>
            <option onclick="hideSector();">Industrias manufactureras</option>
            <option onclick="hideSector();">Comercio al por mayor y al por menor</option>
            <option onclick="showOtroSector();">Otro</option>
          </select>
        </div>

        <div class="form-group" id="divCualSector" hidden>
          <label for="cual_sector">¿Cual?</label>
          <input type="text" class="form-control" name="cual_sector" id="cualSector" placeholder="">
        </div>

        <div class="form-group" id="divNegocioPropio" hidden>
          <label for="negocio_propio">¿Es dueña de su propio negocio?</label>
          <select class="form-control" name="negocio_propio" id="negocioPropio">
            <option onclick="clearFormaTrabajo();">Si</option>
            <option onclick="showFormaTrabajo();">No</option>
          </select>
        </div>

        <div class="form-group" id="divFormaTrabajo" hidden>
          <label for="forma_trabajo">¿Trabaja de manera?</label>
          <select class="form-control" name="forma_trabajo" id="formaTrabajo">
            <option onclick="showTipoEmpresa();">Formal</option>
            <option onclick="clearTipoEmpresa();">Informal</option>
          </select>
        </div>

        <div class="form-group" id="divTipoEmpresa" hidden>
          <label for="tipo_empresa">¿Tipo de empresa?</label>
          <select class="form-control" name="tipo_empresa" id="tipoEmpresa">
            <option>Pública</option>
            <option>Privada</option>
          </select>
        </div>

        <div class="form-group" id="divHaTrabajado" hidden>
          <label for="ha_trabajado">¿Alguna vez ha trabajado?</label>
          <select class="form-control" name="ha_trabajado" id="haTrabajado">
            <option onclick="showTiempoDesempleo();">Si</option>
            <option onclick="clearTiempoDesempleo();">No</option>
          </select>
        </div>

        <div class="form-group" id="divTiempoDesempleo" hidden>
          <label for="tiempo_desempleo">¿Desde hace cuanto tiempo no trabaja?</label>
          <select class="form-control" name="tiempo_desempleo" id="tiempoDesempleo">
            <option>Menos de 1 año</option>
            <option>De 1 a 5 años</option>
            <option>Mas de 5 años</option>
          </select>
        </div>

        <div class="form-group">
          <label for="conoce_tic">¿Conoce qué son las TIC (tecnologías de la información y comunicaciones)?</label>
          <select class="form-control" name="conoce_tic" id="conoceTIC" required>
            <option onclick="showUsaTIC()">Si</option>
            <option onclick="showInteresTIC()">No</option>
          </select>
        </div>

        <div class="form-group" id="divUsaTIC" hidden>
          <label for="usa_tic">¿Hace uso de las TIC?</label>
          <select class="form-control" name="usa_tic" id="usaTIC">
            <option onclick="showCualUso();">Si</option>
            <option onclick="hiddenCualUso();">No</option>
          </select>
        </div>

        <fieldset id="divCualUso" hidden>
          <label for="entretenimiento_uso">¿Cual es su uso?</label>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" name="entretenimiento_uso" id="entretenimientoUso" class="form-check-input">
              Entretenimiento(fotos videos peliculas musicas juegos)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="redes_uso" id="redesUso">
              Redes sociales
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="correo_uso" id="correoUso">
              Correo electrónico
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="compras_uso" id="comprasUso">
              Compras en internet
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="ventas_uso" id="ventasUso">
              Ventas en internet
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="comunicaion_uso" id="comunicaionUso">
              Comunicación
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="educacion_uso" id="educacionUso">
              Educación
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="banco_uso" id="bancoUso">
              Servicios bancarios
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="servicios_publicos_uso" id="serviciosPublicosUso">
              Pago de servicios públicos (luz,teléfono)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="tramites_uso" id="tramitesUso">
              Servicios o trámites en línea (citas médicas, licencias, etc)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input onclick="showOtroUso()" type="checkbox" class="form-check-input">
              Otro
            </label>
          </div>
        </fieldset>

        <div class="form-group" id="divOtroUso" hidden>
          <label for="otro_uso">¿Cual?</label>
          <input type="text" class="form-control" name="otro_uso" id="otroUso" placeholder="">
        </div>

        <div class="form-group" id="divInteresTIC" hidden>
          <label for="interes_tic">¿estaria intereseda en conocer y usar las TIC?</label>
          <select class="form-control" name="interes_tic" id="interesTIC">
            <option onclick="showTipoInteres();">Si</option>
            <option onclick="showDesinteresTIC();">No</option>
          </select>
        </div>

        <fieldset id="divTipoInteres" hidden>
          <label for="tipoInteres">¿En cuales?</label>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="entretenimiento_interes"
                     id="entretenimientoInteres">
              Entretenimiento(fotos videos peliculas musicas juegos)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="redes_interes" id="redesInteres">
              Redes sociales
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="correo_interes" id="correoInteres">
              Correo electrónico
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="compras_interes" id="comprasInteres">
              Compras en internet
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="ventas_interes" id="ventasInteres">
              Ventas en internet
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="comunicacion_interes" id="comunicacionInteres">
              Comunicación
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="educacion_interes" id="educacionInteres">
              Educación
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="banco_interes" id="bancoInteres">
              Servicios bancarios
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="servicios_publicos_interes"
                     id="serviciosPublicosInteres">
              Pago de servicios públicos (luz,teléfono)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="tramites_interes" id="tramitesInteres">
              Servicios o trámites en línea (citas médicas, licencias, etc)
            </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input onclick="showCualInteres();" type="checkbox" class="form-check-input">
                Otro
              </label>
            </div>
        </fieldset>
        <div class="form-group" id="divCualInteres" hidden>
          <label for="cual_interes">¿Cual?</label>
          <input type="text" class="form-control" name="cual_interes" id="cualInteres" placeholder="">
        </div>

        <div class="form-group" id="divDesinteresTIC" hidden>
          <label for="desinteres_tic">¿Cuál cree que sería el motivo??</label>
          <select class="form-control" name="desinteres_tic" id="desinteresTIC">
            <option>No cuenta con los recursos económicos</option>
            <option>No dispone de tiempo para aprender</option>
            <option>No es de su interés</option>
            <option>No me permiten el uso</option>
            <option>Temor a la tecnología</option>
            <option>No se leer ni escribir</option>
            <option onclick="showOtroDesinteres();">Otro</option>
          </select>
        </div>
        <div class="form-group" id="divCualDesinteres" hidden>
          <label for="cual_desinteres">¿Cual?</label>
          <input type="text" class="form-control" name="cual_desinteres" id="cualDesinteres" placeholder="">
        </div>
        <div class="container my-auto text-center">
            <input type="submit" value="Registrar" class="btn btn-primary">
        </div>
      </form>
    </div>
  </section>
{% endblock %}