{% extends 'base3.html.twig' %}

{% block title %}Registrar Tipo de Socio{% endblock %}

{% block body %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Registrar Tipo Socio</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <li class="breadcrumb-item active">Registrar Tipo Socio</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <!-- column -->
        <div class="col-lg-7">
            <div class="card">
                <div class="card-block">
                    <div class="">
                        <form role="form" name="tipo_socio" method="post">
                            <div class="form-group">
                                <label for="nombre">Nombre Tipo de Socio</label>
                                <input class="form-control"type="text" name="nombre" id="nombre" required>
                                <p class="help-block">Ej. Universidad</p>
                            </div>
                            <button type="submit" class="btn waves-effect waves-light btn-warning hidden-md-down">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}