{% extends 'base.html.twig' %}

{% block title %}New TipoCandidata{% endblock %}

{% block body %}
    <h1>Create new TipoCandidata</h1>

    {{ include('tipo_candidata/_form.html.twig') }}

    <a href="{{ path('tipo_candidata_index') }}">back to list</a>
{% endblock %}