{% extends 'base.html.twig' %}

{% block title %}New Socio{% endblock %}

{% block body %}
    <h1>Create new Socio</h1>

    {{ include('socio/_form.html.twig') }}

    <a href="{{ path('socio_index') }}">back to list</a>
{% endblock %}