<form method="post" action="{{ path('tipo_aporte_delete', {'id': tipo_aporte.id}) }}"
      onsubmit="return confirm('¿Esta seguro de eliminar este Tipo de aporte?');">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_aporte.id) }}">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>